body {
    height: 210vh;
    width: 100%;
    background-color: blue;
    margin: 0;
}
.greentext {
    color: rgb(26, 105, 68);
    font-family: 'Roboto', sans-serif;
}
.blacktext {
    color: rgb(43, 37, 37);
}

#container1 {
    background-color: white;
    display: flex;
    height: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
#child1 {
    background-color: white;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
#child2 {
    background-color: rgb(37, 143, 93);
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;  
    justify-content: center;  
    text-decoration: none;
    color: black;
}

#containerNavbar, ul, li, a {
    background-color: rgb(43, 37, 37);
    display: flex;
    height: 6%;
    width: 100%;
    justify-content: flex-end;
    align-items: center; 
    flex-direction: row;
    font-size: 17px;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#logo {
    height: 150px;
    align-items: baseline;
    margin-top: 61px;
}

#img1container {
    background-color: aqua;
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#img1 {
    height: 130%;
    width: 100%;
}

.largep {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 4%;
    margin: 0;
}

.smallp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 23px;
    position: absolute;
    top: 64%;
    left: 4.5%;
}
.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0.6%;
    color: white;
    background-color: rgb(43, 37, 37);
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    bottom: 110px;
    left: 60px;
    border: none;
} 

#break {
    background-color: white;
    display: flex;
    height: 8%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pbreak {
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

#whitearrowcontainer {
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whitearrow {
    height: 85px;
}

#img2container {
    background-color: blueviolet;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img2 {
    height: 93%;
    padding-bottom: 90px;
    padding-left: 95px;
}

#img2text {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: pink;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-bottom: 40px;

}
p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 0;   
}




#greenbreak{
    background-color: rgb(39, 148, 121);
    display: flex;
    height: 8%;
    justify-content: center;
    align-items: center;
}

.pgreenbreak {
    text-decoration: none;
    color: white;
    background-color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

#greenarrowcontainer {
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greenarrow {
    height: 85px;
}


#roundimagecontainer {
    background-color: palegoldenrod;
    display: flex;
    height: 50%;
    justify-content: center;
    flex-direction: row;
    
}
.roundimagetext {
    background-color: pink;
}

.roundimage {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 20px;
    padding-left: 50px;
}

#roundimage1 {

}

#roundimage2 {

}

#roundimage3 {

}















#compinfo {
    background-color: blueviolet;
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center
}

#footer {
    background-color: palevioletred;
    display: flex;
    height: 12%;
    justify-content: center;
    align-items: center;
}